<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task-3.1.xsd
		http://www.springframework.org/schema/cache  
		http://www.springframework.org/schema/cache/spring-cache-3.2.xsd ">
	<!-- 注解驱动 -->
	<mvc:annotation-driven />
	<task:annotation-driven/> 
	<!-- 使用注解，在这里的cron表达式不管用。在对应类中的注解中设置了。也就是定时任务类messageInfoTask -->
	<task:scheduled-tasks scheduler="myScheduler">  
        <task:scheduled ref="messageInfoTask" method="getMessageInfos" cron="0/30 0/1 9-21 * * ?"/> <!-- 每三十秒查一次 -->
         <task:scheduled ref="messageInfoTask" method="deleteMessageInfos" cron="30/31 0/2 9-21 * * ?"/>  <!-- 每两分钟删一次 -->
    </task:scheduled-tasks>  
     <task:scheduler id="myScheduler" pool-size="2"/>  
	<!-- 扫描包 -->
	<!-- <context:component-scan base-package="com.searchinner" /> -->

	<!-- <mvc:annotation-driven /> -->
	<context:component-scan base-package="com.searchinner">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	
	<!-- <context:component-scan base-package="com.searchinner.controller" /> -->
	<context:annotation-config />
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor " />
	<!-- ViewResolver -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/mgr/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- ajax json -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="jsonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
 	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->
			 <mvc:mapping path="/" /> 
			<mvc:mapping path="/article/getArticlesByUserId.action" />
			<mvc:mapping path="/article/getArticlesDraftByUserId.action" />
			<mvc:mapping path="/catalog/**" />
			<mvc:mapping path="/messageInfo/**" />
			<mvc:mapping path="/comment/**" />
			<mvc:mapping path="/edit/index.action" />
			<mvc:mapping path="/edit/reedit.action" />
			<mvc:mapping path="/edit/addArticle.action" />
			<mvc:mapping path="/edit/updateArticle.action" />
			<mvc:mapping path="/edit/deleteArticle.action" />
			<bean class="com.searchinner.interceptor.CommonInterceptor"></bean>
		</mvc:interceptor>
		<!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->
	</mvc:interceptors>
	
	 <bean id="developController" class="com.searchinner.controller.DevelopController">
	 	<property name="serviceNameMap">
            <map>
                <entry key="core_issue_subscribe" value="core_issue_subscribe_gnnt" />
                <entry key="tc_issuetradeweb_gnn" value="tc_issuetradeweb_gnnt" />
                <entry key="tc_selfopenaccount_g" value="tc_selfopenaccount_gnnt" />
                <entry key="core_mgrgetfrontuser" value="core_mgrgetfrontusers_gnnt" />
                 <entry key="core_conditionPlugin" value="core_conditionPlugin_gnnt" />
                 <entry key="core_mgrgetfrontuser" value="core_mgrgetfrontusers_gnnt" />
                 <entry key="core_timebargain_gnn" value="core_timebargain_gnnt" />
            </map>
        </property>
	 </bean>
</beans>